@using Microsoft.AspNetCore.Identity
@using ODCWeb.Utility
@inject UserManager<ApplicationUser> UserManager

@model IEnumerable<ApplicationUser>

@{
    ViewBag.Title = "All Users";
}

@if (Model.Any())
{
    <div class="container mt-4 bg-light rounded">
        @* <div class="container m-3 p-3">

            <a class="btn btn-primary float-end mx-2" asp-controller="Product" asp-action="Upsert">Create Product</a>
        </div> *@
        <h1>Users List</h1>
        <div class="">
            <table id="myTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>City</th>
                        <th>Role</th>
                        <th>Approved?</th>
                    </tr>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.Name</td>
                            <td>@user.City</td>
                            <td>@user.RoleName
                                @if (UserManager.GetUserId(User) != user.Id)
                                {
                                    @if (user.RoleName == SD.Role_Customer)
                                    {
                                        <a class="btn btn-success" asp-area="Admin" asp-controller="Users" asp-action="RoleChange" asp-route-id="@user.Id">Promote</a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-danger" asp-area="Admin" asp-controller="Users" asp-action="RoleChange" asp-route-id="@user.Id">Demote</a>
                                    }
                                }
                            </td>
                            <td>@user.Approved
                                @if (UserManager.GetUserId(User) != user.Id)
                                {
                                    @if (user.Approved == false)
                                    {
                                        <a class="btn btn-success" asp-area="Admin" asp-controller="Users" asp-action="Approval" asp-route-id="@user.Id">Approve</a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-danger" asp-area="Admin" asp-controller="Users" asp-action="Approval" asp-route-id="@user.Id">Disapprove</a>
                                    }
                                }
                            </td>
                        </tr>
                    }
                </thead>
                

            </table>
        </div>
    </div>

}
